
{:paths ["source-code/cljs"]
 :deps  {bithandshake/cljc-fruits {:git/url "https://github.com/bithandshake/cljc-fruits"
                                   :sha     "80569183b5b1e933941fb68013a64d5c5ccc5677"}
         bithandshake/cljs-dom    {:git/url "https://github.com/bithandshake/cljs-dom"
                                   :sha     "c5aaf10995318f611ac7a13a4f7f9f3d45d5da3f"}}}
