
{:paths ["source-code/cljs"]
 :deps  {bithandshake/cljc-fruits  {:git/url "https://github.com/bithandshake/cljc-fruits"
                                    :sha     "502d20d62b54998f2bffb6b73fbf8e4ee6496c95"}
         bithandshake/cljs-dom     {:git/url "https://github.com/bithandshake/cljs-dom"
                                    :sha     "da10941f6e3b0be3a0546abee8187c6b53b86050"}
         org.clojure/clojurescript {:mvn/version "1.10.891"}}}
