
{:paths ["source-code/cljs"]
 :deps  {bithandshake/cljc-fruits {:git/url "https://github.com/bithandshake/cljc-fruits"
                                   :sha     "493e89256298f81c45e8dec4c8ee256bcee9c854"}
         bithandshake/cljs-dom    {:git/url "https://github.com/bithandshake/cljs-dom"
                                   :sha     "0efe48f3833cba7e3ff56c722cbbbcfd078f8e43"}}}
